<header class="navbar shadow-sm">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <h3>=LOVE MAP</h3>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right navbar-expand-lg">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to '聖地一覧',places_path,class: 'glyphicon glyphicon-home home' %></li>
          <li class="nav-item"><%= link_to '新規投稿',new_place_path,class: 'glyphicon glyphicon-home home' %></li>
          <li class="nav-item"><%= link_to 'マイページ',user_path(current_user),class: 'glyphicon glyphicon-home home' %></li>
          <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class: 'glyphicon glyphicon-log-out logout' %></li>
        <% elsif admin_signed_in? %>
          <li class="nav-item"><%= link_to 'ユーザ一覧',admin_users_index_path,class: 'glyphicon glyphicon-home home' %></li>
          <li class="nav-item"><%= link_to '聖地一覧',admin_places_index_path,class: 'glyphicon glyphicon-home home' %></li>
          <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete,class: 'glyphicon glyphicon-log-out logout' %></li>
        <% else %>
          <li class="nav-item"><%= link_to ' トップ',root_path,class: 'glyphicon glyphicon-home home' %></li>
          <li class="nav-item"><%= link_to '聖地一覧',places_path,class: 'glyphicon glyphicon-home home' %></li>
          <li class="nav-item"><%= link_to ' 会員登録', new_user_registration_path,class: 'glyphicon glyphicon-edit sign_up' %></li>
          <li class="nav-item"><%= link_to ' ログイン', new_user_session_path ,class: 'glyphicon glyphicon-log-in sign_in'%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>